<app-charts-city-list class="background"></app-charts-city-list >
<div>
      <ngx-charts-line-chart
            *ngIf="weatherChartsData.getForecast().temperatureArr.length>0"
            [scheme]="colorScheme"
            [results]="weatherChartsData.getForecast().temperatureArr"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel[0]"
            [autoScale]="autoScale">
      </ngx-charts-line-chart>
      <ngx-charts-area-chart
            *ngIf="weatherChartsData.getForecast().pressureArr.length>0"
            [scheme]="colorScheme"
            [results]="weatherChartsData.getForecast().pressureArr"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel[1]"
            [autoScale]="autoScale">
      </ngx-charts-area-chart>
      <ngx-charts-polar-chart
            *ngIf="weatherChartsData.getForecast().humidityArr.length>0"
            [scheme]="colorScheme"
            [results]="weatherChartsData.getForecast().humidityArr"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel[2]"
            [autoScale]="autoScale">
      </ngx-charts-polar-chart>
      <ngx-charts-area-chart-stacked
            *ngIf="weatherChartsData.getForecast().windSpeedArr.length>0"
            [scheme]="colorScheme"
            [results]="weatherChartsData.getForecast().windSpeedArr"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel[3]">
      </ngx-charts-area-chart-stacked>
</div>