.charts{
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.configuration{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2vh;
    height:auto;
    .metric-configuration{
        display: flex;
        align-items: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        height:auto;
        padding-bottom: 2vh;
        div{
            display: flex;
            align-items: space-around;
            flex-wrap: wrap;
            flex-direction: row;
            height:auto;
        }
    }
    button{
        border-radius: 10px;
        min-width: 20vw;
        font-size: medium;
    }

}
.main
{
	margin-top:2%;
	border-right:4px groove black;
	border-bottom:4px groove black;
	background-color: rgba(220,220,220,0.3);
	margin-left: 10vw;
	margin-right: 10vw;
    display:flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
	box-shadow: 0 0 10px #fff, 0 0 20px rgba(255, 255, 255, 0.651), 0 0 40px rgba(30, 9, 148, 0.836);
}
.name{
  width: 100%;
  text-align: center;
 padding: 2vw;
 font-size:2.5em;
}