<table *ngIf="weatherData.getReceivedCityList().length>0">
    <tr class="big-border">
        <th >City Name</th>
        <th >City Id</th>
        <th ></th>
    </tr>
    <tr *ngFor="let city of weatherData.getReceivedCityList(); let i = index">
      <th>{{city.name}}</th>
      <th>{{city.id}}</th>
      <th class="center">
        <button 
            (click)="showClick(city.id,$event)" 
            *ngIf="!weatherChartsData.isHaveCity(city.id)">
            Show Forecast
        </button>
        <button 
            (click)="hideClick(city.id,$event)"
            *ngIf="weatherChartsData.isHaveCity(city.id)">
            Hide Forecast
        </button>
      </th>
    </tr>
  </table>
