table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    margin-top: 5vh;
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th{
    padding: 8px;
    
    button{
      border-radius: 10px;
      margin: 0.3vw
    }
  }
  .center{
    text-align: center;
  }
  .big-border{
    border: 2px solid #000000;
  }
  
  tr:nth-child(even) {
    background-color: rgba($color: #aaaaaa, $alpha: 0.8);
  }
  tr:nth-child(odd) {
    background-color: rgba($color: #888888, $alpha: 0.8);
  }
  
}
.main
{
	margin-top:2%;
	border-right:4px groove black;
	border-bottom:4px groove black;
	background-color: rgba(220,220,220,0.3);
	margin-left: 10vw;
	margin-right: 10vw;
    display:flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
	box-shadow: 0 0 10px #fff, 0 0 20px rgba(255, 255, 255, 0.651), 0 0 40px rgba(30, 9, 148, 0.836);
}
.name{
  width: 100%;
  text-align: center;
 padding: 2vw;
 font-size:2.5em;
}
